.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 25rem;
  overflow: scroll;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: cursive;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions button {
  font: inherit;
  font-family: cursive;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.actions .button--alt {
  color: red;
  border: 1px solid black;
}

.actions .button {
  background-color: white;
  color: red;
  border: 1px solid black;
}
