.products {
  display: grid;
  width: 80%;
  margin: auto;
  padding: 30px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.products div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.products div img {
  width: 40%;
  border-radius: 14px;
  transition: 1s all ease;
}
.products div img:hover {
  scale: 1.1;
  cursor: pointer;
}
