.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: red;
  border: none;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: black;
  border-color: white;
  border: 1px solid white;
}
