* {
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

form input {
  height: 40px;
  width: 30%;
}
input[type="submit"] {
  background-color: black;
  color: white;
  font-family: cursive;
  font-size: 22px;
  display: block;
  margin: auto;
  width: 20%;
}

input[type="submit"]:hover {
  cursor: pointer;
  color: aqua;
}

.btns {
  background: transparent;
  border: none;
  color: white;
  font-size: 22px;
  font-family: cursive;
}

::-webkit-scrollbar {
  display: none;
}

.btns:hover {
  color: aqua;
  cursor: pointer;
}
.mail {
  width: 80%;
  margin: 5% auto;
  border: 1px solid black;
  padding: 30px;
  border-radius: 10px;
}
.mail:hover,
label:hover {
  background: black;
}

.mail input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.btn {
  border: none;
  padding: 4px 16px;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 22px;
}

.btn:hover {
  color: aqua;
  cursor: pointer;
}
.inbox-items {
  display: flex;
  justify-content: right;
  background-color: black;
  color: white;
  width: 90%;
  margin: 10px auto;
  padding: 20px;
  font-size: 22px;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
}

.inbox-items:hover,
.read:hover {
  cursor: pointer;
  background-color: beige;
  color: black;
}

.delete {
  margin-right: -100%;
}

.read {
  margin-right: -90%;
  color: chocolate;
  font-size: 15px;
}
